body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body::before {
    content: "";
    background-image: url('GunProject/GunProject/images/BG1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Ensures background is behind the content */
}


.navbar {
    background: transparent;
    border: none;
}

.nav-link {
    color: #fff;
    font-weight: 700;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: rgba(255,255,255,0.1);
}

.header-content {
    position: absolute;
    top: 50%;
    left: 5%; /* This moves the content towards the left-center */
    transform: translateY(-50%);
    text-align: left; /* This aligns the text to the left */
    color: white;
}


h1, h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.info-btn {
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.info-btn:hover {
    background-color: rgba(255,255,255,0.1);
}
